.player-card {
    display: flex;
    border: 1px solid black;
    width: 45%;
    align-items: center;
    padding: 10px 10px;
}

.player-card-content{
    border: 1px solid black;
}

a{
    width: 100px !important;
}