/* You can add global styles to this file, and also import other style files */

$Primary-color: #0044CC;
$Secondary-color: #0077FF;
$Accent-color: #00CC66;
$Background-color: #F5F5F5;

* {
    margin: 0;
}